header a{
    text-decoration: none;
    color: #032539;
}

header a:hover{
    color: #fa991c;
}

.navbars{
    position: fixed;
    top: 10px;
    width: 300px;
    width: 99%;
    z-index: 1000;    
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fbf3f2;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #1c768f;
}

html {
    background-color: #032539;
}